<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>

<body>
<div style="padding-left: 10%">
  <button mat-raised-button (click)="openDialog()">New Patient</button>
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="table mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let patient; index as i" >{{i+1}}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let patient">
        <mat-form-field *ngIf="patient.editing">
          <input matInput [(ngModel)]="patient.firstName" required/>
        </mat-form-field>
        <div [hidden]="patient.editing">{{patient?.firstName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let patient">
        <mat-form-field *ngIf="patient.editing">
          <input matInput [(ngModel)]="patient.lastName" required/>
        </mat-form-field>
        <div [hidden]="patient.editing">{{patient?.lastName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="medicine">
      <th mat-header-cell *matHeaderCellDef>Medicine</th>
      <td mat-cell *matCellDef="let patient">
        <div [hidden]="patient.editing">
          <mat-select  placeholder="Select Medicines">
            <mat-option disabled="true" *ngFor="let medicine of patient.medicine">
              {{medicine.medicineName}}
            </mat-option>
          </mat-select>
        </div>
        <div [hidden]="!patient.editing">
          <mat-select [(ngModel)]="patient.medicine" multiple placeholder="Edit Medicines" >
            <mat-option *ngFor="let medicine of medicineList" [value]="medicine">
              {{medicine.medicineName}}
            </mat-option>
          </mat-select>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef>Doctor</th>
      <td mat-cell *matCellDef="let patient">
        <div>{{patient?.doctor.firstName}}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="patientInfo">
      <th mat-header-cell *matHeaderCellDef>Info</th>
      <td mat-cell *matCellDef="let patient">
        <div [hidden]="patient.editing">{{patient?.patientInfo.info}}</div>
        <mat-form-field *ngIf="patient.editing">
          <input matInput [(ngModel)]="patient?.patientInfo.info" required/>
        </mat-form-field>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Edit</th>
      <td mat-cell *matCellDef="let patient; index as i">
        <button mat-button *ngIf="!patient.editing" (click)="edit(patient)">Edit</button>
        <button mat-button color="primary" *ngIf="patient.editing" (click)="save(patient)">Save</button>
        <button mat-button *ngIf="patient.editing" (click)="cancel(i)">Cancel</button>
        <button mat-button color="warn" (click)="delete(patient)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
</body>
</html>
