<form [formGroup]="form">
  <h1 mat-dialog-title>Create new patient</h1>
  <div mat-dialog-content>

    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" required/>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" required/>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Doctor</mat-label>
      <mat-select placeholder="Select Doctor" formControlName="doctor">
        <mat-option *ngFor="let doctor of doctors" [value]="doctor">
          {{doctor.firstName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Medicine</mat-label>
      <mat-select multiple placeholder="Select Medicines" formControlName="medicine">
        <mat-option *ngFor="let medicine of medicineList" [value]="medicine">
          {{medicine.medicineName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Patient Info</mat-label>
      <input matInput formControlName="patientInfo" required/>
    </mat-form-field>
  </div>

  <mat-dialog-actions>
    <button mat-button (click)="onNoClick()">No Thanks</button>
    <button mat-button (click)="save()">Ok</button>
  </mat-dialog-actions>

</form>
